// MAINPAGE \\
// HERO
.dp-hero-wrapper {

    background-color: $dp-color-dark;
    height: 100vh;
    width: 100%;

    .dp-hero-img-bg {
        background: url("../images/dploy-homepage/DployLogoBigHero.svg");
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dp-hero-content {
        padding: 10% 0;
        width: 100%;

        .dp-hero-content-text {

            h1 {
                color: $dp-color-white;
                font-weight: 100;
                font-size: 2.4em;
            }

            p {
                color: $dp-color-white;
                font-weight: 100;
                line-height: 27px;
            }
        }

        .dp-hero-img-wrapper {

            img {
                width: 100%;
                height: auto;
            }
        }

        .dp-hero-logos {
            text-align: center;
        }
    }

    .dp-logos-wrapper {
        text-align: center;
        padding-bottom: 30px;
    }
}

// BODY
.dp-body-wrapper {

    .dp-why-wrapper {

        padding: 100px 0;

        .dp-why-img {

            text-align: center;

            img {
                width: 50%;
            }
        }

        .dp-why-content {

            h2 {
                font-weight: 300;
                padding-bottom: 30px;
            }

            p {
                font-weight: 300;
                line-height: 30px;
                color: $dp-color-grey-dark;
            }
        }
    }

    .dp-why-2-wrapper {

        background-color: $dp-color-grey;
        width: 100%;
        height: auto;

        .dp-why-2-content {
            padding: 30% 0;
            width: 80%;

            p {
                font-weight: 300;
                line-height: 30px;
                color: $dp-color-grey-dark;
            }
        }

        .dp-why-2-img {

            text-align: left;

            img {
                width: 80%;
                height: auto;
            }
        }
    }

    .dp-our-services-wrapper {

        padding: 100px 0;

        .dp-our-services-heading {

            text-align: center;

            h2 {
                font-family: $playfair;
                color: $dp-color-brown;
                font-weight: 700;
                font-size: 3.5em;
            }
        }

        .dp-our-services-grid-wrapper {

            padding: 50px 0 0 0;

            .dp-our-services-grid {

                white-space: normal;
                -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
                -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
                transition: all 250ms cubic-bezier(.02, .01, .47, 1);
                transition-delay: 0s;
                padding: 20px;
                border-radius: 3px;

                &:hover {

                    box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
                    transform: translate(0, -20px);
                    transition-delay: 0s !important;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        height: 20px;
                    }
                }

                svg {
                    color: $dp-color-brown;
                }

                b {
                    color: $dp-color-brown;
                    font-size: 20px;
                }

                p {
                    padding-top: 10px;
                    font-weight: 300;
                    line-height: 30px;
                    color: $dp-color-grey-dark;
                }

                a {
                    color: $dp-color-brown;
                }

                .dp-learn-more-link {
                    color: $dp-color-brown;
                }
            }
        }
    }
}