// OFFSHORE PAGE \\
// HERO

.dp-or-hero-wrapper {

	.dp-or-hero-left {
		background: url("../images/dploy-offshorehiring/hero.jpg");
	    width: 100%;
	    height: 100vh;
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}

	.dp-or-hero-right {

		.dp-or-hero-content {
			padding: 100px 60px 60px 0;

			h2 {
				font-family: $playfair;
				font-weight: 300;
				color: $dp-color-brown;
				padding-bottom: 20px;
				font-size: 20px;
			}

			h3 {
				font-size: 48px;
				font-weight: 100;
				line-height: 58px;
				padding-bottom: 20px;
			}

			p {
				font-size: 14px;
				font-weight: 300;
				line-height: 26px;
			}

			.form-group {

				.dp-or-hero-form {
					border: none;
					    border-bottom-width: medium;
					    border-bottom-style: none;
					    border-bottom-color: currentcolor;
					border-bottom: 1px solid $dp-color-brown;
					border-radius: 0;
					width: 50%;
					font-size: 16px;
					font-weight: 300;
					color: $dp-color-brown;
				}
			}
		}
	}
}

.dp-or-jobs-wrapper {

	padding: 100px 0;
	text-align: center;

	h3 {
		font-family: $playfair;
		color: $dp-color-brown;
		padding-bottom: 30px;
	}

	hr {
		width: 5%;
		color: $dp-color-brown;
	}

	.dp-or-owl-wrapper {

		padding-top: 50px;
		
		.dp-or-owl-item {
	        width: 250px;
	        height: 300px;
	        background-size: cover;
	        background-position: center;
	        background-repeat: no-repeat;
	        border-radius: 10px;
	        text-align: left;
	        padding: 100px 40px 20px 20px;
	  		// box-shadow: 0 20px 20px rgba(0,0,0,.08);
			// white-space: normal;
			// -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
			// -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
			// transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  			// transition-delay: 0s;

	  		// &:hover{
	  		// box-shadow: 0 40px 40px rgba(0,0,0,.16);
			// transform: translate(0,-20px);
			// transition-delay: 0s !important;
	  		// }

	        .dp-or-owl-job-title {

				h3 {
					background-color: $dp-color-black;
					color: $dp-color-white;
					padding: 10px 10px;
					text-align: center;
					font-size: 18px;
					font-weight: 300;
					font-family: roboto;
					margin-bottom: 20px;
				}

	        }
		}
	}
}

.dp-or-recruit-wrapper {

	background-color: $dp-color-dark;
	width: 100%;
	height: auto;
	padding: 50px 30px;

	.dp-or-recruit-left {
		text-align: center;
		padding: 30px 0;
	}

	.dp-or-recruit-right {
		
		color: $dp-color-white;

		h3 {
			font-weight: 100;
			font-size: 38px;
			padding-bottom: 20px;
		}

		p {
			font-weight: 300;
			font-size: 14px;
			line-height: 27px;
		}
	}
}

.dp-or-provide-wrapper {

	padding-top: 100px;

	.dp-or-provide-img {
		width: 100%;
		height: auto;
		text-align: center;
	}

	.dp-or-provide-icons {

		ul {
			padding-left: 0;
			margin-left: 0;
		}

		li {
			display: inline-table;
			list-style: none;
			padding-left: 0;
			margin-left: 0;
		}

		strong {
			color: $dp-color-dark;
			font-weight: 700;
		}

		p {
			font-weight: 300;
			color: $dp-color-grey-dark;
			font-size: 14px;
			line-height: 26px;
		}

	}
}

.dp-or-facility-wrapper {

	padding-top: 100px;

	.dp-or-facility-right {
		background-color: $dp-color-dark;
		padding: 50px;
		height: auto;
	}

}