// PAYROL PARKING \\

// HERO

.dp-pp-hero-wrapper {

	padding: 100px 0;

	.dp-pp-hero-heading {
		padding: 0 0 0 100px;

		h2 {
			font-family: $playfair;
			color: $dp-color-brown;
			font-size: 16px;
		}

		h3 {
			font-weight: 100;
			font-size: 4em;
		}

		p {
			padding-top: 30px;
		}

		a {
			color: $dp-color-dark;
		}
	}

	.dp-pp-hero-img {
		text-align: right;
	}

}

.dp-pp-masonry-wrapper {
	
	padding: 50px 0;
	background-color: $dp-color-grey;
	width: 100%;
	height: auto;
	

	.dp-pp-masonry-left {

		h3 {
			font-weight: 100;
		}

		p {
			font-weight: 100;
			padding: 0 0 10px 0;
		}
		
		.dp-pp-masonry-card {
			
			background-color: $dp-color-white;
			
			.dp-pp-card-img-1 {
				background: url("../images/dploy-payrollparking/masonry-1.jpg");
			    width: 100%;
			    height: 200px;
			    background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
			}
			
			strong {
				padding: 10px 20px 0 20px;
			}

			p {
				padding: 20px;
				font-size: 14px;
				line-height: 23px;
			}
		}
	}

	.dp-pp-masonry-right {

		h3 {
			font-weight: 100;
			font-size: 2.5em;
			padding-bottom: 20px;
		}

		p {
			font-weight: 100;
			padding: 0 0 10px 0;
		}

		.dp-pp-masonry-card {
			
			background-color: $dp-color-white;
			
			.dp-pp-card-img-2 {
				background: url("../images/dploy-payrollparking/masonry-2.jpg");
			    width: 100%;
			    height: 200px;
			    background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
			}

			.dp-pp-card-img-3 {
				background: url("../images/dploy-payrollparking/masonry-3.jpg");
			    width: 100%;
			    height: 200px;
			    background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
			}
			
			strong {
				padding: 10px 20px 0 20px;
			}

			p {
				padding: 20px;
				font-size: 14px;
				line-height: 23px;
			}
		}
	}
}

.dp-pp-devotion-wrapper {
	
	width: 100%;
	height: auto;

	.dp-pp-devotion-dark {

		background-color: $dp-color-dark;
		padding: 100px;
		
		h3 {
			font-weight: 100;
			font-size: 2.3em;
			color: $dp-color-white;
			padding-bottom: 30px;
		}

		p {
			font-size: 14px;
			font-weight: 100;
			line-height: 24px;
			color: $dp-color-white;
		}

	}

	.dp-pp-devotion-cream {

		background-color: $dp-color-cream;
		padding: 100px;
		
		h3 {
			font-weight: 100;
			font-size: 2.3em;
			color: $dp-color-dark;
			padding-bottom: 30px;
		}

		p {
			font-size: 14px;
			font-weight: 100;
			line-height: 24px;
			color: $dp-color-dark;
		}

	}
}