// ALL BUTTONS GOES HERE \\

.dp-btn-brown-cta {
    color: $dp-color-white;
    background-color: $dp-color-brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 25px;
    border-radius: 2px;
}

.dp-btn-brown-cta-big {
    color: $dp-color-white;
    background-color: $dp-color-brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 30px 35px;
    border-radius: 2px;
}

.dp-btn-brown {
    color: $dp-color-white;
    background-color: $dp-color-brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 2px;
}


.dp-btn-brown-rounded {
    color: $dp-color-white;
    background-color: $dp-color-brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 100px;
    margin-top: 10px;
}

.dp-or-hire-btn {
    color: $dp-color-black;
    background-color: $dp-color-white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 0px;
}