// COLORS \\

$dp-color-dark: #151E28;
$dp-color-black: #000000;
$dp-color-brown: #A19975;
$dp-color-brown-sublte: #5F5F5F;
$dp-color-white: #FFFFFF;
$dp-color-grey: #FCFCFC;
$dp-color-grey-dark: #7F8C8D;
$dp-color-cream: #EBE5D7;