// == FOOTER == \\

.dp-cta-footer-wrapper {

    text-align: center;
    padding: 100px 0;
    height: auto;
    width: 100%;

    .dp-cta-footer-heading {

        h3 {
            font-size: 4em;
            font-weight: 700;
            text-transform: uppercase;
            color: $dp-color-brown-sublte;
        }

        p {
            padding: 50px 0;
            font-size: 22px;
            font-weight: 300;
            color: $dp-color-grey-dark;
        }
    }
}

.dp-cta-footer-city {
    background: url('../images/dploy-homepage/city-footer.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35vh;
    margin-top: -150px;
}

.dp-footer-wrapper {

    background-color: $dp-color-dark;
    width: 100%;
    height: auto;
    padding: 100px 0 100px 0;

    .dp-footer-logo {
        width: 100%;
        padding: 20% 0;

        img {
            width: 100%;
        }
    }

    .dp-footer-address {

        padding-left: 15%;

        strong {
            color: $dp-color-white;
        }

        p {
            font-weight: 300;
            color: $dp-color-white;
        }
    }

    .dp-footer-form {

        strong {
            color: $dp-color-white;
        }

        form {
            padding-top: 20px;

            .dp-form {
                border-radius: 0px !important;
            }
        }
    }
}