// MASTER PAGE

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

h1,
h2,
h4,
h4,
h5,
h6,
p,
b,
li,
strong {
  font-family: 'Roboto', sans-serif; 
}

a {
	&:hover {
		text-decoration: none;
	}
}

.container-narrow {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dp-padding-30 {
	padding: 30;
}

.dp-padding-0 {
	padding: 0;
}

.dp-hr {
	text-align: left;
	width: 50px;
}

.dp-form {
	border: none;
}