/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}
 
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}
 
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    
    .dp-or-hero-left  {
        display: none;
    }

    .dp-or-hero-content {

        padding-top: 80px !important;

        h3 {
            font-size: 35px !important;
            line-height: 46px !important;
        }

    }

    .form-group {

        .dp-or-hero-form {
            width: 100% !important;
        }
    }

    .dp-or-recruit-left {

        img {
            width: 100%;
        }

    }

    .dp-or-jobs-wrapper {
        padding-top: 50px !important;
    }

    .dp-or-provide-img {
        margin-bottom: 50px;
    }

    .dp-or-provide-icons {

        text-align: center;

        img {
            padding-bottom: 10px;
        }

    }

    .dp-or-facility-left {
        padding: 0 50px 50px 50px;
    }

    .dp-btn-brown-rounded {
        font-size: 10px;
    }
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

    .dp-or-hero-left  {
        display: none;
    }

    .dp-or-hero-content {

        padding-top: 80px !important;

        h3 {
            font-size: 35px !important;
            line-height: 46px !important;
        }

    }

    .form-group {

        .dp-or-hero-form {
            width: 100% !important;
        }
    }

    .dp-or-recruit-left {

        img {
            width: 100%;
        }

    }

    .dp-or-jobs-wrapper {
        padding-top: 50px !important;
    }

    .dp-or-provide-img {
        margin-bottom: 50px;
    }

    .dp-or-provide-icons {

        text-align: center;

        img {
            padding-bottom: 10px;
        }

    }

    .dp-or-facility-left {
        padding: 0 50px 50px 50px;
    }

    .dp-btn-brown-rounded {
        font-size: 10px;
    }
}