/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}
 
/* Medium Devices, Desktops */
 @media only screen and (max-width: 992px) {

 }
 
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    

    .dp-hero-content-text {
        
        padding: 0 10px;

        h1 {
            color: $dp-color-white;
            font-weight: 100;
            font-size: 1.4em !important;
        }

        p {
            color: $dp-color-white;
            font-weight: 100;
            line-height: 27px;
        }
    }
    
    .dp-why-wrapper {
        padding: 50px 0 !important;

        .dp-why-content {
            padding: 0 10px;
        }

        .dp-why-img {

            padding-top: 20px;
            
            img {
                width: 70% !important;
            }

        }
    }
    
    .dp-why-2-wrapper {
        
        .dp-why-2-img {
            padding: 20px 0;
        }

        .dp-why-2-content {
            padding: 0 10px 30px 10px !important;
            width: 100% !important;
        }

    }

    .dp-our-services-wrapper {

        padding: 50px 0 !important;

        .dp-our-services-heading {
            
            h2 {
                font-size: 2.5em !important;
            }
        }
    }

    .dp-cta-footer-wrapper {

        .dp-cta-footer-heading {
            
            h3 {
                font-size: 1.5em;
            }

            p {
                padding: 20px 0 !important;
                font-size: 18px !important;
                margin-bottom: 40px;
            }
        }
    }

    .dp-cta-footer-city {
        height: 10vh;
        margin-top: 0;
    }

    .dp-footer-wrapper {
        padding: 10px;

        .dp-footer-address {
            padding-left: 0 !important;
            padding-bottom: 20px;
        }
    }

}
 
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

    .dp-hero-content-text {
        
        padding: 0 10px;

        h1 {
            color: $dp-color-white;
            font-weight: 100;
            font-size: 1.4em !important;
        }

        p {
            color: $dp-color-white;
            font-weight: 100;
            line-height: 27px;
        }
    }
    
    .dp-why-wrapper {
        padding: 50px 0 !important;

        .dp-why-content {
            padding: 0 10px;
        }

        .dp-why-img {

            padding-top: 20px;
            
            img {
                width: 70% !important;
            }

        }
    }
    
    .dp-why-2-wrapper {
        
        .dp-why-2-img {
            padding: 20px 0;
        }

        .dp-why-2-content {
            padding: 0 10px 30px 10px !important;
            width: 100% !important;
        }

    }

    .dp-our-services-wrapper {

        padding: 50px 0 !important;

        .dp-our-services-heading {
            
            h2 {
                font-size: 2.5em !important;
            }
        }
    }

    .dp-cta-footer-wrapper {

        .dp-cta-footer-heading {
            
            h3 {
                font-size: 1.5em;
            }

            p {
                padding: 20px 0 !important;
                font-size: 18px !important;
                margin-bottom: 40px;
            }
        }
    }

    .dp-cta-footer-city {
        height: 10vh;
        margin-top: 0;
    }

    .dp-footer-wrapper {
        padding: 10px;

        .dp-footer-address {
            padding-left: 0 !important;
            padding-bottom: 20px;
        }
    }

}