// NAVBAR \\


// MAIN PAGE
.dp-navbar {
	background-color: transparent;

	.dp-nav-link {
		color: $dp-color-white !important;
		font-weight: 700;
		font-size: 14px;
	}

	.dp-dropdown {
		background-color: $dp-color-dark;
		box-shadow: 5px 10px 40px #111111;
		width: auto;
		border-radius: 5px;

		.dp-dropdown-item {
			color: $dp-color-brown;
			text-align: center;
			padding: 15px 30px;

			&:hover {
				background-color: #2c3e50;
			}
		}
	}
}

// OFFSHORE PAGE
.dp-or-navbar {
	
	padding-left: 0;
	float: left;

	.dp-or-nav-link {
		color: $dp-color-brown !important;
		font-size: 14px;
	}

}